*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* regole generali */

body{
    height: 100vh;
    background-color: #16417C;
}


h2{
    text-align: center;
    color: orange;
}
.title{
    text-align: center;
    color: orange;
    font-size: 40px;
    margin-bottom: 150px;
}

span{
    color: #fff;
}

/* regole submit "invia" */
.submit{
    cursor: pointer;
    
}

/* container principale */


.flex{
    display: flex;
    justify-content: center;
    
}

/* sezione FORM Utente */
.container{
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
   
}


.container, .emailform{
    width: 400px;
    background-color: #616161;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}

.containerstyleinput, .submit{
    margin-left: 5px;
}


